<!DOCTYPE html>
<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<head>
	<title>WebComp</title>

</head>
<body>
  <div class="topnav" id="myTopnav">

  	<ul>
      <button class="hamburger-button hamburger-button-inverse" aria-label="Navigation Menu" data-hamburger-button> 
        <li><a href="WebComp" font="verdana">WebComp</a></li>
    		<li><a href="{{url_for('my_feed')}}">Home</a></li>
    		<li><a href="#contact">Contact</a></li>
    		<li><a href="#about">About</a></li>
        
  	</ul>
  </div>
  <br><br>
	<a href="{{url_for('my_feed')}}">MOST RECENT</a>
	<a href="{{url_for('my_feed')}}">MOST POPULAR</a>
  <br><br>
  <a href="{{url_for('add_poll')}}">Add Poll</a>
  """"". Change font of WebComp 2. Align them side-by-side 3. ask Guy for his work on the divs. 4. find out how to add a profile section at the right hand side of the taskbar"""""

	{%for post in posts%}
	{%for option in options%}
	{%if option.id==post.id%}
	<div class="title">
	<h3 class= "usertitle"> {{post.title}} </h3>
	<br>
	</div>
	</form>
	<div class = "description">
		<p> {{post.description}} </p>
	</div>
	<form action="">
	<div class= "options" style="color: black">
		<input type="radio" name="vote" value="{{option.option}}" > {{option.option}} 
		<img src="{{option.pic_url}}">
		<input type="submit"> 
	</div>
	
	{%endif%}
	{%endfor%}
	{%endfor%}

	<div style=" align-self: right ; border: 9px; border-style:dotted; background-color: black; color: white;width: 70px;" class="categories" >

		<a style="color: white;" href="{{url_for('cat1')}}">Sports</a>
		<br><br>
		<a style="color: white;" href="{{url_for('cat2')}}">Lifestyle</a>
		<br><br>
		<a style="color: white;" href="{{url_for('cat3')}}">Fashion</a>
		<br><br>
		<a style="color: white;" href="{{url_for('cat4')}}">Cars</a>
		<br><br>
		<a style="color: white;"  href="{{url_for('cat5')}}">Advice</a>
		<br><br>
		<a style="color: white;" href="{{url_for('cat6')}}">Other</a>
		<br><br>
	</div>
</body>
</html>
