<!DOCTYPE html>
<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<head>
	<title>Page Name</title>

</head>
<body>
  <div class="topnav" id="myTopnav">

  	<ul>
    		<li><a href="{{url_for('my_feed')}}">Home</a></li>
    		<li><a href="#contact">Contact</a></li>
    		<li><a href="#about">About</a></li>
        
  	</ul>
  </div>
  <br><br>
	<a href="{{url_for('my_feed')}}">MOST RECENT</a>
	<a href="{{url_for('my_feed')}}">MOST POPULAR</a>
  <br><br>
  <a href="{{url_for('add_poll')}}">Add Poll</a>


	<div>
	{%for comp in comps%}
	<div class="title">
	<h3 class= "usertitle"> {{comps.title}} </h3>
	<div>
	<br>
	<form>
	<div class= "options">
		<input type="radio" name="vote" value="{{comps.option1}}" > {{comps.option1}} 
		<input type="radio" name="vote" value="{{comps.option2}}" > {{comps.option2}} 
		<input type="radio" name="vote" value="{{comps.option3}}" > {{comps.option3}} 
		<input type="radio" name="vote" value="{{comps.option4}}" > {{comps.option4}} 
	</div>
	<div class = "description">
		<p> {{"comps.description"}} </p>

	{%endfor%}
	</div>
	
</body>
</html>
