<!DOCTYPE html> 
<html>
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=BioRhyme' rel='stylesheet'>
<head>
<title>About us </title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body> 


	<ul class="topnav">

       <div  id="categories-nav" style="font-family: 'Bangers'; position: fixed; width: 1300px ;"  >
        <div class="button-inverse">
    		  <a style="color: white;" href="{{url_for('my_feed')}}">Home</a>
        </div>
        <div class="addpoll" >
     	<a style="color: white ;" href="{{url_for('add_poll')}}">Add Poll</a>
     	</div>  
        <div class="button-inverse">
    		  <a style="color: white;" href="#contact">Contact</a>
        </div> 
        <div class="button-inverse"> 
    		  <a  style="color: white;" href="{{url_for('aboutus')}}">About</a>
        </div>
      </div>
      <br><br>
       <img src="https://tbncdn.freelogodesign.org/95760b38-5d73-42bd-b896-38b9047e81c8.png?1501793207514" align="right">
  <br><br>
<div style="font-family: 'BioRhyme'">
<h1>About us:</h1>
<br>
<p style="font-size: 20px">
	We are Meet students, Israelies and Palestinians. 
	<br>
	Our idea is WebPoll. 
	<br>
	The concept behing WebPoll was to create a site where everyone can post questions and polls unnamed, and other can vote just the same way.
</p>
<br>
<h2>Shira Struminiski-Project manager</h2>
<p>about her..</p> <br><br>

<h2>Guy Sela-Co-Manager</h2>
<p>about him</p> <br> <br>

<h2>Michella Kopti-Project designer</h2>
<p> about her</p> <br> <br>  

<h2>Ade Dokhan-Programmer</h2>
<p>about him </p> <br> <br> 

<h2>Rajai Farwagi-Co-programmer</h2> 
<p>about him</p> <br> <br>
</div>