<!DOCTYPE html> 
<html>
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=BioRhyme' rel='stylesheet'>
<head>
<title>About us </title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body> 


	<ul class="topnav">

      <div id="categories-nav" class="button-inverse" style="font-family: 'Bangers'">
    		<a style="color: rgb(0, 136, 204);"" href="{{url_for('my_feed')}}">Home</a></li>
     		<a style="color:rgb(0, 136, 204);" href="{{url_for('add_poll')}}">Add Poll</a></li>
    		 <a style="color:rgb(0, 136, 204)" href="#contact">Contact</a></li>
    		<a style="color: rgb(0, 136, 204)" href="{{url_for('aboutus')}}">About</a></li>
      </div>
    </ul>
<img src="https://tbncdn.freelogodesign.org/95760b38-5d73-42bd-b896-38b9047e81c8.png?1501793207514" align="right">
<br>
<div style="font-family: 'BioRhyme'">
<h1>About us:</h1>
<br>
<p style="font-size: 20px">
	We are Meet students, Isrealies and Palestinians. 
	<br>
	Our idea is WebPoll. 
	<br>
	The concept behing WebPoll was to create a site where everyone can post questions and polls unnamed, and other can vote just the same way.
</p>
<br>
<h2>Shira Struminiski-Project manager</h2>
<p>15 years old female from jerusalem who enjoys travelling to germany She was in charge of the whole Project and Checking if everything works fine</p> <br><br>

<h2>Guy Sela-Co-Manager</h2>
<p>17 year old male from jerusalem, who enjoys surfing. He was in-charge of fixing bugs and making sure the code works as it is supposed to </p> <br> <br>

<h2>Michella Kopti-Project designer</h2>
<p> 16 year old female from jerusalem, who enjoys travelling. She designes the presentation for the project.</p> <br> <br>  

<h2>Ade Dokhan-Programmer</h2>
<p>16 year old male from nazareth who loves cars, especially BMW E30 M3. He is one of the Programmers  </p> <br> <br> 

<h2>Rajai Farwagi-Co-programmer</h2> 
<p>16 year old male from jerusalem who loves cars especially the corvette ZO6. He is the Co-programmer along with Ade.</p> <br> <br>
</div>

