<!DOCTYPE html> 
<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<head>
<title>About us <b></b> </title>
</head>
<body> 

<h2>Shira Struminiski-Project manager</h2>
<p>about her..</p> <br><br>

<h2>Guy Sela-Co-Manager</h2>
<p>about him</p> <br> <br>

<h2>Michella Kopti-Project designer</h2>
<p> about her</p> <br> <br>  

<h2>Ade Dokhan-Programmer</h2>
<p>about him </p> <br> <br> 

<h2>Rajai Farwagi-Co-programmer</h2> 
<p>about him</p> <br> <br>

<img src= "/home/student/Desktop/Y2S17-seed-app/static/meet.png" style="width:250px;height:350px" align="top|right">
